@import 'colors';

.form-outlet{
    margin: auto;
    width: 50%;
    padding: 0px 20px 0px 20px;
    border: 1px solid $primary-color-d-30;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    background-color: $primary-color;
    display: flex;
    flex-flow: column;
}


%label-movement {
    // Move up, colorize and shrink
    font-size: 0.75em;
    color: $orange;
    top: -2.25rem;
    transition: all 0.125s cubic-bezier(0.2, 0, 0.03, 1);
  }
  
  .styled-input {
    float: left;
    width: 100%;
    margin: 2rem 0 0rem;
    position: relative;
    label {
      color: #999;
      padding: 1rem;
      position: absolute;
      top: 0;    
      left: 0;
      transition: all 0.25s cubic-bezier(0.2, 0, 0.03, 1);
      pointer-events: none;
      font-family: 'Roboto', sans-serif;
    }
    &.wide {
      // Full width textarea fields
      width: 100%;
    }
  }
  
  input, textarea {
    font-family: 'Roboto', sans-serif;
    padding: 1rem 1rem;
    border: 0; 
    width: 100%;
    font-size: 1rem;
    ~ span {
      // Border Effect
      display: block;
      width: 0;
      height: 3px;
      background: $orange;
      position: absolute;
      bottom: 0;
      left: 0;
      transition: all 0.125s cubic-bezier(0.2, 0, 0.03, 1);
    }
    &:focus {
      // Trigger the effects
      outline: 0;
        ~ label {
        // Move Label
        @extend %label-movement;
        }
      ~ span {
        // Expand across
        width: 100%;
        transition: all 0.125s cubic-bezier(0.2, 0, 0.03, 1);
      }
      }
    &:valid ~ label/*, &.not-empty ~ label*/ {
      // Keep label above field after its filled out
      @extend %label-movement;
    }
  }
  
  textarea {
    // Mods needed for multiline inputs
    width: 100%;
    min-height: 10em;
  }

  input[type="submit"] {
      border: none;
      background-color: inherit;
      color: $orange;
      text-align: center;
      padding-left: 0;
      font-size: 120%;
      transition: all 0.125s cubic-bezier(0.2, 0, 0.03, 1);
  }
  input[type="submit"]:hover {
      cursor: pointer;
  }
  input[type="submit"]:focus {
      color: white;
      border-bottom: 2px solid $orange;
  }